.btn img {
    width: 125px;
    height: 125px;
}

body {
    text-align: center;
    margin: 30px;
    font-family: "Press Start 2P", sans-serif;
}

.winner {
    color: green;
}

.loser {
    color: red;
}

.btn {
    padding: 20px;
    border: none;
    background-color: white;
    border-radius: 50%;
    transition: 500ms;
}

.btn:hover {
    background-color: rgb(243, 208, 208);
}

.btn:disabled {
    background-color: white;
}

#resetButton {
    padding: 10px;
    border-radius: 15%;
    font-size: 1.2em;
    font-weight: 700;
}

#subtitle {
    font-family: "Odibee Sans";
    font-size: 1.8rem;
    line-height: 0.2rem;
}

label {
    font-family: "Odibee Sans";
    line-height: 3rem;
    font-size: 1.4rem;
}

select {
    font-size: 1.2rem;
}

#playByPlay {
    font-family: "Odibee Sans";
    font-size: 1.8rem;
}